body {
  margin: 100;
  font-family: Georgia,sans-serif;
    font-size:100;
    background:black;
}

header { 
font-family:Georgia,sans-serif;
font-size:45px;
color:red;
}

button{ background-color:firebrick;
font-size:30px;
}

divider{
div.relative 
position:relative;
left:30px;
border:3px solid }

h1 {font-size:35px;
 font-display:Georgia, sans-serif; 
  color:blue;
}

details {font-size:35px;
 font-display:Georgia, sans-serif; 
  color:green;

}

a {
color:white;
}

footer{
border: 6px solid white;color:yellow; font-size:25px; text-align:center;
}

#hobby1 {
background-color: grey; 
text-align:center;
color:  white;
font-family: Lucida Handwriting 
border: 2px solid white; 
outline-style: dashed; 
outline-color: grey; 
outline-width: thick;
}

#hobby2 {
background-color: red;
text-align:center; 
color:  grey;
font-family: Lucida Handwriting 
border: 1px solid white; 
outline-style: dotted; 
outline-color: grey; 
outline-width: thick; 
}

#hobby3 {
background-color: white;
text-align:center; 
color:  grey;
font-family: Lucida Handwriting 
border: 1px solid white; 
outline-style: solid; 
outline-color: grey; 
outline-width: thick; 
}
